In [3]:
# pip install requests
import requests

In [4]:
url="https://stephen-king-api.onrender.com/api/books"

# get type specialy use for getting the data from the api
res=requests.get(url)

In [5]:
res
# <Response [200]> is a status code

In [12]:
# store the json data into json_Data
json_data=res.json()

In [17]:
import pandas as pd

# convert the json data to panda dataframe
df=pd.json_normalize(json_data["data"])
df=df[['id','Title','Year','ISBN']]

In [18]:
df

    id          Title  Year               ISBN
0    1         Carrie  1974  978-0-385-08695-0
1    2    Salem's Lot  1975  978-0-385-00751-1
2    3    The Shining  1977  978-0-385-12167-5
3    4           Rage  1977  978-0-451-07645-8
4    5      The Stand  1978  978-0-385-12168-2
..  ..            ...   ...                ...
58  59   The Outsider  2018  978-1-50118-098-9
59  60      Elevation  2018  978-1-98210-231-9
60  61  The Institute  2019  978-1-98211-056-7
61  62          Later  2021  978-1-78909-649-1
62  63  Billy Summers  2021  978-1-982-17361-6

[63 rows x 4 columns]