In [ ]:

import requests
import pandas as pd

url="https://www.scrapethissite.com/pages/simple"
res=requests.get(url)
res

In [75]:
# print(res.text)
#res.content
# print(res.headings)

In [76]:
# single page scraping
with open("scraped_data/data2.html","w",encoding="utf8") as f:
    f.write(res.text)

In [107]:
# Beautifulsoop
# pip install beautifulsoup
from bs4 import BeautifulSoup
# with open("scraped_data/data2.html","r") as f:
#     html_content=f.read()

# soup=BeautifulSoup(html_content,"lxml")    
with open("scraped_data/data2.html","r") as f:
    html_content=f.read()
soup=BeautifulSoup(html_content,"lxml")

In [104]:
# soup

In [97]:
# how to get useful data from the web
# soup.find("h3") # find krta he h3 ko
# soup.h3 #dono same kaam krte he

all_h3=soup.find_all("h3")

all_data=[]

type(all_h3)
for h3 in all_h3:
    country_name=h3.get_text(strip=True)
    # print(h3.find_parent("div")["class"]) that find the parent 
    # print(h3.find_next("div").select("span.country-population"))
    # print(h3.find_next("div").select_one("span.country-population").get_text(strip=True))
    
    population=h3.find_next("div").select("span.country-population")[0].get_text(strip=True)

    all_data.append([country_name,population])

In [ ]:
all_data

In [99]:
import pandas as pd

In [103]:
df=pd.DataFrame(all_data,columns=["Name","Population"])
df

                     Name Population
0                 Andorra      84000
1    United Arab Emirates    4975593
2             Afghanistan   29121286
3     Antigua and Barbuda      86754
4                Anguilla      13254
..                    ...        ...
245                 Yemen   23495361
246               Mayotte     159042
247          South Africa   49000000
248                Zambia   13460305
249              Zimbabwe   11651858

[250 rows x 2 columns]

In [105]:
df.to_csv("cleaned_data/data1.csv",index=False)